<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>2ndDay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C182601B1D3D07160003B6CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C182602F1D3D07160003B6CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C182603A1D3D07160003B6CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
